.option{
    text-align: center;
    display: flex;
    justify-content: center;
}

.first{
    width: 100px;
    cursor: pointer;
    margin: 20px;
    transition: background-color .5s;
    border-radius: 10px;
}

.first:hover{
    background-color: royalblue;
    color: aliceblue;
}

.second{
    width: 100px;
    cursor: pointer;
    margin: 20px;
    transition: background-color .5s;
    border-radius: 10px;
}

.second:hover{
    background-color: gold;
    color: aliceblue;
}